/* Phone */
@media (max-width: 468px) {
    .CONTAINER>div {
        flex-direction: column;
    }

    .ENTER__MESSAGE {
        min-width: 300px;
    }

    .HEADER__SEARCH {
        display: none;
    }

    .SIDEBAR {
        min-height: 100%;
        min-width: 100%;

        left: -800px;
    }

    .HEADER__RIGHT,
    .HEADER__LEFT,
    .HEADER__SEARCH {
        margin: 0 10px;
    }

    .HEADER__MENU_BUTTON {
        width: 40px;
        /* Smaller button size */
        height: 40px;
    }

    .HEADER__MENU_ICON,
    .HEADER__MENU_ICON::before,
    .HEADER__MENU_ICON::after {
        width: 30px;
        /* Reduce the width */
        height: 4px;
        /* Reduce thickness */
    }

    .HEADER__MENU_ICON::after {
        transform: translate(-15px, -10px);
        /* Adjust spacing */
    }

    .HEADER__MENU_ICON::before {
        transform: translate(-15px, 10px);
        /* Adjust spacing */
    }

    /* Adjust animations for smaller icons */
    @keyframes ExpansionDown {
        100% {
            transform: translateX(-15px) rotate(45deg);
        }
    }

    @keyframes ExpansionUp {
        100% {
            transform: translateX(-15px) rotate(-45deg);
        }
    }

    @keyframes RevExpansionDown {
        100% {
            transform: translateX(-15px) rotate(0deg) translateY(10px);
        }
    }

    @keyframes RevExpansionUp {
        100% {
            transform: translateX(-15px) rotate(0deg) translateY(-10px);
        }
    }

    .SIDEBAR_SHOW {
        left: 0;
    }

    .HEADER__TITLE,
    .SIDEBAR,
    .HEADER__ICON,
    .HEADER__UL__ICON>span,
    .SIDEBAR__ITEM>span {
        font-size: 1rem;
    }

    .HEADER__LEFT {
        min-width: fit-content;
    }

    /* TODO: CALENDAR PAGE */
    .CONTAINER {
        padding: 0.3rem;
    }

    .CALENDAR__HEADER {
        margin: 1rem 2rem;
    }

    .CALENDAR__HEADER > * {
        font-size: 1.2rem;
    }

    li span {
        display: none;
    }

    .CALENDAR__HEADER {
        font-size: 1.5rem;
    }


    .Header__Wording {
        font-size: 1.3rem;
    }


    /* Account page */
    .PROFILE {
        font-size: 1.4rem;
    }

    .INPUT__INPUT {
        width: 250px;
    }


    /* Community page */
    .TASK__CONTAINER {
        margin-right: 10px;
        height: 100vh;

        overflow-y: auto;
    }

    .COMMUNITY1__MAIN {
        padding-right: 2rem;
        height: 100%;
    }

    .COMMUNITY1 {
        position: relative;

        grid-template-rows: 100px 1fr;
        grid-template-columns: 1fr;

        width: 100%;
        overflow-x: hidden;
    }

    .COMMUNITY1__HEADER {
        flex-direction: column;
        min-height: 100px;
    }

    .COMMUNITY1__HEADER>h1 {
        margin: 1rem;
    }

    .COMMUNITY1__HEADER__RIGHT>div {
        min-width: 50px;
        position: relative;
    }

    .DISPLAY__ICON>div {
        flex-direction: row-reverse;
    }

    .COMMUNITY__HEADER__TITLE {
        white-space: nowrap;
        position: absolute;
        width: fit-content;
        top: 100%;
        color: var(--COLOR-DARK3);
    }

    .DISPLAY__TITLE {
        display: flex;
        align-items: center;
    }

    .DISPLAY__ICON {
        flex-direction: column;
        align-items: start;
        gap: 0;
    }

    .MEMBER__MANAGE {
        margin-top: 1rem;
    }

    .COMMUNITY1__MEMBER {
        padding: 0;

        position: absolute;
        top: 0;
        right: 0;

        transform: translateX(calc(100% - 50px));

        height: 100%;
        min-width: 100vw;

        box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease-in-out;
    }

    .LEADER__CONTAINER,
    .MEMBER__CONTAINER {
        padding-left: 5rem;
    }

    .CM__POPUP__TITLE {
        font-size: 0.8rem;
        text-align: center;
    }

    .CM__POPUP__FORM {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80%;
    }

    .FileLink {
        font-size: 0.6rem;
    }

    .SHOW__MEMBER {
        transform: translateX(0);
    }

    .RESPONSIVE__MEMBER_BUTTON {
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        cursor: pointer;
    }


    .DISPLAY__ICON {
        margin-right: 30px;
    }

    .COMMUNITY1__HEADER h1 {
        font-size: 1.3rem;
    }

    .COMMUNITY__HEADER__TITLE {
        transform: translateY(30px);
    }

    /* Account setting */


    /* DM page */
    .DMLIST__SIDEBAR {
        font-size: 0.8rem;
    }

    .DM__LIST__UL {
        margin: 0;
    }

    .DM__LIST__PERSON {
        width: fit-content;
    }

    .DM__LIST__PERSON>a {
        white-space: nowrap;
    }

    .PROFILE_ICON {
        font-size: 3rem;
    }

    .PROFILE_CAM {
        font-size: 2rem;
    }


    .DM__MAIN {
        grid-template-columns: 1fr;
        /* Only show main chat */
    }

    .DMLIST__SIDEBAR {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-150%);

        transition: all 0.3s ease-in-out;

        width: 250px;
        height: 100vh;
        background: var(--COLOR-DARK3);
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    }

    .DMLIST__SIDEBAR.hide {
        transform: translateX(-150%);
    }

    .DMLIST__SIDEBAR.show {
        transform: translateX(0);

        z-index: 1000;
    }

    .SIDEBAR__CLOSE {
        position: absolute;
    }

    .ENTER__MESSAGE {
        min-width: fit-content;
    }

    /* Todo */
    .TODO__HEADER {
        flex-direction: column;
    }

    .TODO__CONTAINER {
        justify-content: center;
    }

    .TODO__CARD {
        margin: 0;
    }

    /* account page */
    .ACCOUNT__THEME {
        flex-direction: column;
    }
}

/* hides when then sidebar has not enough space */
@media (max-width:700px) {
    .HEADER__SEARCH {
        display: none;
    }

    li::before {
        content: attr(data-mobile) !important;
    }

    .CALENDAR__HEADER {
        margin: 1rem 2rem;
        display: flex;
        flex-direction: column;
    }

    /* analytic page */
    .dashboard {
        margin: 1rem 2rem;
    }
}

/* Tablet */
@media (min-width: 468px) and (max-width: 1024px) {
    .CONTAINER>div {
        flex-direction: column;
    }

    .SIDEBAR {
        min-height: 100%;
    }

    .SIDEBAR_SHOW {
        left: 0;
    }


    /*TODO: CALENDAR PAGE */
    li::before {
        content: attr(data-tablet);
    }

    li span {
        display: none;
    }



    /* Community page */
    .COMMUNITY1__MAIN {
        padding-right: 30px;
    }

    .COMMUNITY1 {
        position: relative;

        grid-template-rows: 100px 1fr;
        grid-template-columns: 1fr;

        overflow: hidden;
    }

    .COMMUNITY1__MEMBER {
        padding: 0;

        position: absolute;
        top: 0;
        right: 0;

        transform: translateX(calc(100% - 50px));

        height: 100vh;

        min-width: 100vw;

        box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease-in-out;
    }

    .TASK__CONTAINER {
        margin-right: 10px;
    }

    .TASK__CONTAINER__TITLE {
        flex-direction: row;
    }

    .LEADER__CONTAINER,
    .MEMBER__CONTAINER {
        padding-left: 5rem;
    }

    .SHOW__MEMBER {
        transform: translateX(0px);
    }

    .RESPONSIVE__MEMBER_BUTTON {
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        cursor: pointer;
    }

    .COMMUNITY1__HEADER {
        flex-direction: column;
        height: 100%;
    }

    .COMMUNITY1__HEADER>h1 {
        margin: 0;
    }

    .DISPLAY__ICON {
        margin-right: 30px;
    }

    .COMMUNITY1__HEADER__RIGHT>div {
        min-width: 50px;
        position: relative;
    }

    .DISPLAY__ICON>div {
        flex-direction: row-reverse;
    }

    .COMMUNITY__HEADER__TITLE {
        white-space: nowrap;
        position: absolute;
        width: fit-content;
        top: 100%;
        color: var(--COLOR-DARK3);
    }


    /* DM page */
    .DMLIST__SIDEBAR {
        font-size: 0.8rem;
    }

    .DM__LIST__UL {
        margin: 0;
    }

    .DM__LIST__PERSON {
        width: fit-content;
    }

    .DM__LIST__PERSON>a {
        white-space: nowrap;
    }

    .PROFILE_ICON {
        font-size: 3rem;
    }

    .PROFILE_CAM {
        font-size: 2rem;
    }


    .DM__MAIN {
        grid-template-columns: 1fr;
        /* Only show main chat */
    }

    .DMLIST__SIDEBAR {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-150%);

        transition: all 0.3s ease-in-out;

        width: 250px;
        height: 100vh;
        background: var(--COLOR-DARK3);
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    }

    .DMLIST__SIDEBAR.hide {
        transform: translateX(-150%);
    }

    .DMLIST__SIDEBAR.show {
        transform: translateX(0);

        z-index: 1000;
    }

    .SIDEBAR__CLOSE {
        position: absolute;
    }

    .ENTER__MESSAGE {
        min-width: 18rem;
    }

    /* account page */
    .ACCOUNT__THEME {
        flex-direction: column;
    }

}

/* Desktop */
@media (min-width: 1025px) {

    /* community page */
    .COMMUNITY1 {
        width: 100%;

        overflow-y: hidden;
    }

    .RESPONSIVE__MEMBER_BUTTON {
        display: none;
    }


    /* DM page */
    .DM__TOGGLE {
        display: none;
    }

    .SIDEBAR__CLOSE {
        display: none;
    }
}