@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 
DESKTOP: 1024
TABLET: 760
MOBILE: 468
*/

/*========== VARIABLE========== */
:root {
    /* FONTS */
    /* font family */
    --FF-HEADINGS: "Roboto", serif;
    --FF-BODY: "Poppins", serif;
    /* font size - assist font from shrinking and growing*/
    /* (min, default, max) */
    --FS: clamp(1em, 2.2vh, 1.5em);


    /* COLORS */
    --COLOR-LIGHT1: #ffffff;
    --COLOR-LIGHT2: #d5d5d5;
    --COLOR-LIGHT3: #a7a7a7;
    --COLOR-DARK1: #626262;
    --COLOR-DARK2: #333333;
    --COLOR-DARK3: #171717;
    --COLOR-BLUE1: #03045E;
    --COLOR-BLUE2: #0077B6;
    --COLOR-BLUE3: #90E0EF;
    --COLOR-BLUE4: #CAF0F8;


    /* Accent Colors for Features */
    --ACCENT-GREEN: #10b981;
    /* Success, completion */
    --ACCENT-YELLOW: #f59e0b;
    /* Warnings, pending */
    --ACCENT-RED: #ef4444;
    /* Errors, high priority */

    /* LINK */
    --LINK-HOVER: var(--COLOR-BLUE3);
    --LINK: var(--COLOR-LIGHT1);

    /* BORDERS */
    --BORDER-COLOR: #333;
    --BORDER-RD-CONTACT: 15px;

    /*FLAT BLACK*/
    --BORDER-DARK: 2px solid var(--COLOR-DARK3);
    --BORDER-LIGHT: 2px solid var(--COLOR-LIGHT2);

    /* STANDARD PADDING */
    /* em = relative to font size */
    --PADDING-TB: clamp(0.5em, 2vh, 1.2em);
    --PADDING-LR: clamp(1em, 3vw, 2em);

    /* STANDARD MARGIN */
    /* MIN - use 1em if lesser if 2.5vh is lesser than 1em */
    /* MAX - use 1.5em if 2.5vh is greater than 1.5em */
    --MARGIN: clamp(1em, 2.5vh, 1.5em);
    --MARGIN-CONTAINER-TB: 2rem;
    --MARGIN-CONTAINER-LR: 4rem;

    /* SHADOW */
    --SHADOW-WHITEBG: 8px 8px 15px hsla(0, 0%, 0%, 0.3);
}

/* ==========RESET========== */
*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style-type: none;
}

a,
a:visited {
    font-family: var(--FF-BODY);
    font-weight: 500;
    text-decoration: none;
    color: var(--LINK);
}

a:is(:hover, :focus, :active) {
    color: var(--LINK-HOVER);
}

html {
    position: relative;
}

body {
    overflow-x: hidden;
}

header,
footer {
    font-family: var(--FF-HEADINGS);
}

main {
    font-family: var(--FF-BODY);
}

/* ==========UTILITY========== */

@keyframes APPEAR {
    from {
        opacity: 0;
        scale: 0.7;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.DISPLAY {
    animation: APPEAR linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.FRONT {
    z-index: 100000;
}

.CENTER {
    text-align: center;
}

.CLICKABLE {
    transition: transform 0.1s ease;

    user-select: none;
}

.CLICKABLE:hover {
    cursor: pointer;
}

.CLICKABLE:active {
    transform: scale(1.2);
}

.KEYWORD {
    font-size: 2rem;
    color: var(--COLOR-BLUE1);
}

.CTA {
    background-color: var(--COLOR-BLUE2);
}

.BOLD {
    font-weight: 800;
    font-size: 2rem;
}

.ARTICLE_TITLE {
    margin: var(--MARGIN) 0;

    width: 100%;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.ARTICLE_TITLE::after,
.ARTICLE_TITLE::before {
    content: "";

    flex-grow: 1;
    height: 4px;

    background-color: var(--COLOR-BLUE1);
}

.ARTICLE_TITLE::before {
    top: 50%;
    left: 0;
}

.ARTICLE_TITLE::after {
    top: 50%;
    right: 0;
}

/* For plans page */
.GREEN {
    color: var(--ACCENT-GREEN);
}

.RED {
    color: var(--ACCENT-RED);
}

.ENLARGE {
    transform: scale(1.1);
    box-shadow: var(--SHADOW-WHITEBG);
    transition: all 0.3s ease;
}

.ENLARGE2 {
    transform: scale(2);
    box-shadow: var(--SHADOW-WHITEBG);
    transition: all 0.3s ease;
}


/* TODO: Generic Layout CSS */
/* ========HEADER======== */
header {
    position: sticky;
    top: 0px;
    z-index: 100000;

    width: 100%;
    height: 80px;

    color: var(--COLOR-LIGHT1);
    background-color: var(--COLOR-DARK2);

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--FF-HEADINGS);
}

.HEADER__RIGHT,
.HEADER__LEFT,
.HEADER__SEARCH {
    display: flex;
    align-items: center;

    margin: 0 var(--MARGIN);
}


/* LEFT SIDE OF HEADER */
.HEADER__LEFT {
    display: flex;
    gap: 5rem;
}

.HEADER__ICON {
    position: relative;
    top: 2px;

    margin-right: 2px;
}

.HEADER__TITLE {
    letter-spacing: 2px;
    white-space: nowrap;
}

.HEADER__TITLE:hover {
    color: var(--LINK);
}

.HEADER__LEFT nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
}

.HEADER__LIST {
    display: flex;
    align-items: center;
    gap: 3rem;

    height: 100%;
}

.HEADER__DROPDOWN_MENU {
    display: flex;
    align-items: center;

    height: 100%;
}


.HEADER__DROPDOWN {
    position: absolute;
    left: 0;
    top: calc(100%);

    background-color: var(--COLOR-DARK1);
    box-shadow: var(--SHADOW-WHITEBG);

    padding: 1.5rem;
    width: 100%;

    pointer-events: none;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    display: flex;

    gap: 2rem;
}

.HEADER__DROPDOWN_SHOW {
    pointer-events: auto;
    opacity: 1;
}

.HEADER__DROPDOWN_HOVER {
    pointer-events: auto;
    opacity: 1;
}

/* RIGHT SIDE OF HEADER */
.HEADER__SIGNUP,
.HEADER__LOGIN {
    display: flex;
    align-items: center;

    margin: 0 var(--MARGIN);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;

    background: var(--BORDER-COLOR);
    color: var(--COLOR-LIGHT1);

    font-weight: 800;
}

.CTA__GROUP {
    display: flex;
}

.HEADER__SIGNUP {
    background-color: var(--COLOR-BLUE2);
}


.MENU_ICON {
    display: none;
}

.HEADER__LEFT .SIDEBAR {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    background-color: var(--COLOR-DARK2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.HEADER__LEFT .SIDEBAR.active {
    transform: translateX(0);
}


.HEADER__LEFT .SIDEBAR .HEADER__LIST {
    padding: var(--PADDING-LR) var(--PADDING-LR);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.HEADER__LEFT .SIDEBAR .HEADER__LIST .HEADER__DROPDOWN_MENU {
    height: initial;
}

.SIDEBAR .HEADER__DROPDOWN {
    position: absolute;
    left: 0;
    top: calc(100%);

    background-color: var(--COLOR-DARK1);
    box-shadow: var(--SHADOW-WHITEBG);

    padding: 1.5rem;
    width: 100%;

    pointer-events: none;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    display: flex;

    gap: 2rem;
}

.SIDEBAR .HEADER__DROPDOWN_SHOW {
    pointer-events: auto;
    opacity: 1;
}


/* ==========FOOTER========== */
.FOOTER {
    padding: 5rem var(--PADDING-LR);

    background-color: var(--COLOR-DARK2);
    color: var(--COLOR-LIGHT1);

    display: flex;
    align-items: center;
    gap: 10rem;
}

.FOOTER__COMPANY {
    font-size: 2rem;
    letter-spacing: 2px;
}

.FOOTER__TITLE_ICON {
    position: relative;
    top: 2px;

    font-size: 0.8em;
    margin: 0 1px;
}

.FOOTER__LINK__TITLE {
    margin-bottom: var(--MARGIN);
    position: relative;
}

.FOOTER__LINK__TITLE::after {
    content: "";

    width: 100%;
    height: 2px;

    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;

    background-color: var(--COLOR-BLUE2);
}


/* ==========BACK TO TOP========== */
.BACK_TO_TOP {
    position: fixed;
    bottom: var(--PADDING-LR);
    right: var(--PADDING-LR);

    padding-top: 0.4rem;
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;

    color: var(--COLOR-LIGHT1);
    background-color: var(--COLOR-BLUE1);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.BACK_TO_TOP__SHOW {
    opacity: 1;
    pointer-events: auto;
}

/* TODO: Homepage.php */
/* ===============WELCOME SECTION================ */

/* use gradient and different shape */
.WELCOME__CONTAINER {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    margin: var(--MARGIN-CONTAINER-TB) var(--MARGIN-CONTAINER-LR);
    padding: var(--PADDING-TB) var(--PADDING-LR);
}

.WELCOME__CONTAINER h3 {
    font-weight: 400;
}

.WELCOME__IMAGE {
    user-select: none;
    width: 80%;
}

.WELCOME__CTA {
    margin: var(--MARGIN);
    display: flex;
    justify-content: center;
}



/* =============FEATURES SECTION=========== */
.BENEFIT {
    margin: var(--MARGIN-CONTAINER-TB) 0;
}

.BENEFIT__CONTAINER {
    margin: 0 var(--MARGIN);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
}

.BENEFIT__CONTAINER__CARD {
    width: 50%;
    min-width: 400px;
    height: 200px;

    margin: var(--MARGIN);
    border-radius: var(--BORDER-RD-CONTACT);
    /* border: var\(--BORDER-DARK\); */

    background-color: hsla(0, 0%, 100%);
    border-radius: var(--BORDER-RD-CONTACT);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    transition: all 1s ease-in-out;
    /* treat container as 3d object */
    transform-style: preserve-3d;
}

.BENEFIT__IMAGE {
    width: 100%;
    height: auto;

    height: 100%;

    object-fit: contain;
}

.BENEFIT__BACK,
.BENEFIT__FRONT {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 80%;

    /* hides back face when rotate 180deg */
    backface-visibility: hidden;

}

.BENEFIT__BACK {
    border-radius: var(--BORDER-RD-CONTACT);

    transform: rotateX(180deg);

    font-size: 0.8rem;
    letter-spacing: 1px;
}

.BENEFIT__TITLE {
    font-size: var(--FS);
}

/* Select all the child */
.BENEFIT__CONTAINER__CARD:nth-child(odd) {
    flex-direction: row-reverse;
}


.BENEFIT__CONTAINER__CARD:hover {
    transform: rotateX(180deg);
}



/* ===========REVIEW============== */
.REVIEW {
    margin: var(--MARGIN-CONTAINER-TB) 0;
    min-height: 100px;
}

.REVIEW__CARD {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: var(--MARGIN);

    position: relative;
}

.REVIEW__CARD__PROFILE {
    width: 15rem;
    max-width: 300px;
    height: 15rem;
    max-height: 300px;
    margin-bottom: var(--MARGIN);

    border-radius: 100%;

    background-color: #333;
    box-shadow: var(--SHADOW-WHITEBG);

    object-fit: cover;
}

.REVIEW__BUTTON_LEFT,
.REVIEW__BUTTON_RIGHT {
    background-color: transparent;
    border: none;
}

.REVIEW__BUTTON_LEFT {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);
}

.REVIEW__BUTTON_RIGHT {
    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%);
}

:is(.REVIEW__BUTTON_LEFT, .REVIEW__BUTTON_RIGHT) span {
    font-size: 50px;
}

.REVIEW__STAR {
    color: var(--ACCENT-YELLOW);
}



/* TODO: Features.php */

.TITLE {
    padding: var(--PADDING-TB) var(--PADDING-LR);
}

.FEATURE__CONTAINER {
    background-color: var(--COLOR-LIGHT1);
    min-height: 350px;
    padding: 0 var(--PADDING-LR);

    display: flex;
    align-items: end;
    gap: 2rem;

    position: relative;
    padding-bottom: 2rem;

    margin: 0 var(--MARGIN-CONTAINER-LR);
}

.FEATURE__CONTAINER.DISPLAY:nth-child(even) {
    animation: APPEAR_LEFT linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.FEATURE__CONTAINER.DISPLAY:nth-child(odd) {
    animation: APPEAR_RIGHT linear;
    /* animation is trigger base on element position in viewport */
    animation-timeline: view();
    /* entry 0 -> animation starts when entering vp at 0 */
    /* animation completes when the element is 40% visible */
    animation-range: entry 0 cover 30%;
}

.FEATURE__IMAGE {
    width: 400px;
    filter: drop-shadow(2px 10px 10px var(--COLOR-DARK1));
}

.FEATURE_TEXT {
    font-size: 1.5rem;
    line-height: 1.6;
    word-spacing: 2px;
}

.FEATURE_TITLE {
    font-size: 2rem;
}


/* CUSTOM DESIGN */
/* nth of child selectes all element <article> */
.FEATURE__CONTAINER:first-of-type {
    scroll-margin-top: 20rem;
}

.FEATURE__CONTAINER:nth-of-type(odd) .FEATURE_TEXT,
.FEATURE__CONTAINER:nth-of-type(odd) .FEATURE_TITLE {
    text-align: left;
}

.FEATURE__CONTAINER:nth-of-type(even) .FEATURE_TEXT,
.FEATURE__CONTAINER:nth-of-type(even) .FEATURE_TITLE {
    text-align: right;
}

.FEATURE__CONTAINER:last-child {
    /* height of footer */
    margin-bottom: 232px;
}

@keyframes APPEAR_LEFT {
    from {
        opacity: 0;
        transform: translateX(-500px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes APPEAR_RIGHT {
    from {
        opacity: 0;
        transform: translateX(500px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}



.POMODORO__LINK {
    background-color: var(--COLOR-BLUE3);
    padding: 0.3rem 0.5rem;
    margin-left: 1rem;
    border-radius: var(--BORDER-RD-CONTACT);

    display: inline-block;
    transition: width 0.5s ease;
}

.POMODORO__LINK:is(:link, :visited) {
    color: var(--COLOR-DARK1);
    font-size: 1rem;
}

.POMODORO__LINK:is(:hover, :active) {
    color: var(--COLOR-BLUE2);
    transform: scale(1.1);
}

/* TODO: Plans Page */
/* =============PLANS PAGE================ */
.PAGE__TITLE {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TYPE {
    margin-top: var(--MARGIN);

    border: none;
    border-radius: 99px;
    background-color: var(--COLOR-LIGHT2);

    width: 10rem;
    height: 3.5rem;

    padding: 0.5rem;
}

.TYPE__MONTH,
.TYPE__ANNUAL {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--COLOR-LIGHT1);
    background-color: var(--COLOR-BLUE1);

    font-weight: 800;
    font-size: 1.5rem;
}

.TYPE__MONTH {
    width: 50%;
    height: 100%;

    border-radius: 99px;

    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.TYPE__ANNUAL {
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
}


.PLANS {
    padding: var(--PADDING-TB) var(--PADDING-LR);
    margin: calc(var(--MARGIN-CONTAINER-TB) + 3rem) var(--MARGIN-CONTAINER-LR);

    display: grid;
    grid-template-columns: 250px repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.PLANS_PRICING {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--PADDING-TB) var(--PADDING-LR);

    color: var(--COLOR-BLUE1);
    min-height: 70px;
    width: 100%;
}


.PLANS__SIDEBAR,
.PLANS__CONTAINER {
    box-shadow: var(--SHADOW-WHITEBG);
}

.PLANS__SIDEBAR {
    color: var(--COLOR-LIGHT1);

    overflow: hidden;

    background-color: #03045E;
    border-radius: var(--BORDER-RD-CONTACT) 0 0 var(--BORDER-RD-CONTACT);
}


.PLANS__SIDEBAR .PLANS_PRICING {
    color: var(--COLOR-LIGHT1);
}

.PLANS__CONTAINER {
    background: linear-gradient(var(--COLOR-BLUE3), var(--COLOR-LIGHT1));
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.PLANS__CONTAINER:nth-last-of-type(2)::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    z-index: -1;

    width: calc(100% + 10px);
    height: calc(100% + 10px);
    padding: 20px;
    background: radial-gradient(#5816a9, rgb(170, 44, 65), #5816a9);
    box-sizing: border-box;
}

.PLANS__CONTAINER:last-child {
    border-radius: 0 var(--BORDER-RD-CONTACT) var(--BORDER-RD-CONTACT) 0;
}

.PLANS__CONTAINER .PLANS__TITLE {
    font-size: 1.5rem;

    position: relative;
}

.PLANS__TITLE__SELECTED {
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);
}

.PLANS__CONTAINER .PLANS_PRICING::after {
    content: "";
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);

    width: 85%;
    height: 4px;
    background-color: var(--COLOR-BLUE1);
}

.SIDEBAR__LIST,
.PLANS__LIST {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* margin-bottom: var(--MARGIN); */
}

.PLANS__SIDEBAR .SIDEBAR__ITEM,
.PLANS__CONTAINER .PLANS_ITEM {
    min-height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: none;
}

/* Set item font size smaller because sidebar container restriction */
.PLANS__SIDEBAR .SIDEBAR__ITEM {
    background: var(--COLOR-BLUE1);

    text-align: center;
}

.PLANS__CONTAINER .PLANS_ITEM {
    justify-content: center;
}

.PLANS__BUTTON {
    width: 70%;
    height: 4rem;
    margin: 2rem;

    border-radius: 99px;
    background-color: var(--COLOR-BLUE2);
    color: var(--COLOR-LIGHT1);

    font: var(--FF-BODY);
    font-size: 1.4rem;
    font-weight: 600;

    border: none;
}


/* TODO management */
/* GET HELP */
.FAQ__LIST {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;

    margin: 0 10rem;
}

.FAQ__LIST__ITEM {
    border-left: 2px solid var(--BORDER-COLOR);

    padding: 0.3rem var(--PADDING-LR);
}


/* Page: Get help page*/

/* PAGE: customer support */
.CS__FAQ h1 {
    font-size: 2rem;
}

.CS__FAQ h2 {
    margin-left: var(--MARGIN);
}

.dropdown {
    display: flex;
    flex-direction: column;
    margin: var(--MARGIN-CONTAINER-TB) calc(var(--MARGIN-CONTAINER-LR) * 2);
}

.dropdown-container {
    display: inline-block;
    position: relative;

    margin: 1rem 0;
}

.dropdown-button {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-bottom: 3px solid var(--BORDER-COLOR);

    background-color: transparent;

    width: 100%;
}

.dropdown-button>h3 {
    text-align: left;
}

/* Dropdown animation */
.dropdown-list {
    padding: 0;
    margin: 0;

    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
    border-left: 2px solid var(--BORDER-COLOR);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--COLOR-LIGHT1);

    /* Animation properties */
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

/* Show dropdown */
.dropdown-container.open .dropdown-list {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.CONTACT__CONTAINER {
    margin: var(--MARGIN-CONTAINER-TB) calc(var(--MARGIN-CONTAINER-LR) * 2);
}

/*SURVEY */
.SURVEY form {
    margin: var(--MARGIN-CONTAINER-TB) calc(var(--MARGIN-CONTAINER-LR) * 2);
}

.SURVEY__FORM {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.SURVEY__FORM_GROUP:first-of-type {
    justify-content: left;
    gap: 1rem;
}

.SURVEY__FORM_GROUP {
    display: flex;
    justify-content: space-between;
}

.INPUT__BOX {
    position: relative;
}

.INPUT__INPUT {
    min-width: 150px;
    padding: 15px 30px;

    background-color: #f2f2f2;

    border: none;
    border-radius: var(--BORDER-RD-CONTACT);
}

/* INPUT BOX DESIGN */
.INPUT__INPUT:focus {
    outline: none;
    box-shadow: var(--SHADOW-WHITEBG);
}

.INPUT__PLACEHOLDER {
    position: absolute;
    top: 25%;
    left: 1rem;

    color: hsla(0, 0%, 0%, 0.5);
    font-family: var(--FF-BODY);

    transition: all 0.5s ease;

    user-select: none;
}

/* + to find sibling selector */
.INPUT__INPUT:focus+.INPUT__PLACEHOLDER,
.AUTOFOCUS {
    color: var(--COLOR-DARK3);

    transform: scale(0.75);
    top: -40%;
    left: 0;
}

.INVALID_PLACEHOLDER {
    transform: scale(0.75);
    top: -40%;
    left: 0;

    color: var(--ACCENT-RED);
}

.INVALID_BORDER {
    border: 2px solid var(--ACCENT-RED);
}

.VALID_BORDER {
    border: 2px solid var(--ACCENT-GREEN);
}

.VALID_PLACEHOLDER {
    transform: scale(0.75);
    top: -40%;
    left: 0;

    color: var(--ACCENT-GREEN);
}

.SELECT_CONTAINER {
    border-radius: var(--BORDER-RD-CONTACT);
    border: none;

    cursor: pointer;

    padding: 0.6rem;
}

.SELECT_CONTAINER,
.SELECT_CONTAINER option {
    background-color: var(--COLOR-DARK1);
    color: var(--COLOR-LIGHT1);
}

.SELECT_CONTAINER option {
    width: 100%;
}

.SURVEY__SUGGESTIONS {
    resize: none;

    padding: var(--PADDING-TB) var(--PADDING-LR);
}

.SURVEY__SUBMIT {
    max-width: fit-content;
    padding: 0.5rem 1rem;

    background-color: var(--ACCENT-GREEN);
    color: var(--COLOR-LIGHT1);

    border: none;
    border-radius: var(--BORDER-RD-CONTACT);

    display: block;
    margin: 0 auto;
}

/* RESPONSIVE */
/* BREAKPOINT!!! AT width 900px */